body {
  background-color: #242323;
  color: white;
}


.resume .btn-light{
  /* color: #ffffff; */
  text-transform: uppercase;
}

.resume .btn-light:hover{
  color: #ffffff;
}

.resume .btn:hover{
  background-color: #b07bf02f;
}

a {
  color:#242323;
}

a:hover {
  color:#cdcdcd;
}

.home > div > img{
  width: 5%;
}

img{ 
  border-radius: 5px;
}

footer{
  background-color: #b07bf0;

}

#logo{
  width: 40px;
}

#myname{
  margin-top: 75px;
}

.description{
  text-align: center;
}

p{
  margin-top: 10px;
}

#desState {
  width: 50%;
}

h3  {
  font-size: 30px;
  
}

h2  {
  font-size: 25px;
}

h1  {
  font-size: 60px;
}

#myname {
  font-weight: bold;
  text-align: center;
}

.nav-link{
  text-transform: capitalize;
  text-align: center;
  font-size: large;

}

.nav-link:hover{
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline white;
  color: #242323;

}


.headings {
  text-transform: capitalize;
  font-style: italic;
  text-align: center;
  line-height: 40px;

  margin: 40px 0px;
}

.subHeadings {
  text-align: center;
  margin-bottom: 40px;

}


.card {
  background-color: #b07bf0;

}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 5%;

}


.card-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px; 
  
}



label, input, button{
  margin-bottom: 10px;
}

form{
  width: 75%;
}


a {
  /* text-transform: uppercase;  */
}

@media screen and (max-width: 425px){
  form{
    width: 100%;
  }
  
  .button-container{
    width: 98%;
  }
  
  a{
    padding: 0 16px;
    /* margin: 0 16px; */
  }
  
  .home > div > img{
    width: 15%;
  }
  
  #desState{
    width:85%;
  }
  
  .projects a {
    padding: 0;
  }
  
  .projects .btn{
    padding: 2%;

  }
}

@media (min-width: 425px) and (max-width: 768px){
  form{
    width: 50%;
  }
  
  /* .button-container{
    width: 1%;
  } */
  

}


@media (min-width: 768px) and (max-width: 1024px){
  form{
    width: 50%;
  }
  
  #desState {
    width: 40%;
  }
  
  /* .button-container{
    width: 1%;
  } */
}


@media (min-width: 1024px) and (max-width: 2560px){
  form{
    width: 50%;
  }
  
  #desState {
    width: 40%;
  }
  
  /* .button-container{
    width: 1%;
  } */
}

@media (min-width: 2561px){
  form{
    width: 50%;
  }
  
  #desState {
    width: 25%;
  }
  
  /* .button-container{
    width: 1%;
  } */
}