html {
    font-family: "Lucida Console", "Courier New", monospace;
    color: rgb(255, 105, 180);
    font-family: sans-serif;

    /* background steacted */
    background: url('/background.gif');
    background-repeat: repeat;
}

body {
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 0 auto;
    width: 50%;
    
}


div {
    margin: 3%;
    padding: 1% 10%;
    /* background-color: rgb(86, 67, 164); */
    background-color: rgb(41, 26, 97);

}


li {
    /* list-style-image: url('smile.gif'); */
    /* list-style-image: url('ministar1.gif'); */

    list-style-type: georgian;
}

