---
import BaseLayout from "../layouts/BaseLayout.astro";
import Pageheader from "../components/Pageheader.astro";

import '../styles/global.css';


const pageTitle = "Welcome to SEMII.SPACE";
const subTitle = "";


---

<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>home</title>
</head>

<body>
	<BaseLayout>

		<div class="container">


			<Pageheader pageTitle={pageTitle} subTitle={subTitle} />


			<p>
				<img src="../public/meInAHoody.png" alt="me In A Hoody" />

				Hi!
				I'm Semii!
				welcome to my website.
				<br>

				I showcase my blog, art and, projects
				I was inspired by these neocities, yesterwebsite,
				indieweb and the push back against web3 and Centralisation of the web.

			</p>




			<p>
				Some facts about me:
				<ul>
					<li>I make my money by teching programing</li>
					<li>running is my prefered form of exercise</li>
					<li>I'm into chochet and drawing (not good at one either <i>yet</i>)</li>
					<li>I prefer tea over coffee </li>
					<li>If i had a super power it would be flight</li>
				</ul>
			</p>

		</div>

	</BaseLayout>

</body>

</html>


<style>
	img {
		border-radius: 20%;
	}

	div {

		/* border: 2px solid;
		border-color: #fffefe;
		border-radius: 6px; */

		text-align: justify;

	}
</style>