---

---

<div class="button">
    <div id="bisexualism">
        <script type="text/javascript"
            src="https://web.archive.org/web/20231118081055js_/https://emeowly.github.io/bi/onionring-variables.js">
        </script>
        <script type="text/javascript"
            src="https://web.archive.org/web/20231118081055js_/https://emeowly.github.io/bi/onionring-widget.js">
        </script>
    </div>
    
    <div><script src="https://transring.neocities.org/ring.js" data-widget="nb"></script></div>
</div>


<style>
    #bisexualism .webring-info {}

    #bisexualism .webring-prev,
    .webring-next {}

    div {}

    .button {
        float: left;
        width: 15%;
        height: 500px;
    }
</style>