---
interface Props {
text: string;
link: string;
}

const {link, text} = Astro.props;
---


<a class="button" href={link}> {text} </a>



<style>
  
    .button {
       
        background-color: #ffffff;
        
        color: #242323;

        /* text-align: center; */
        
        border: none; 
        border-radius: 5px;

        padding: 5px;
        margin: 10px;
        
        
        
    }

    .button:hover {
        background-color: #ffffff;
        color: #212529;
        text-decoration: none;
    }
    
</style>