---

---



<nav>
    <ul>
        <li class="nav-item"> <a class="nav-link" style="color: #ffffff" href="#">Intro</a> {text} </li>

        <li class="nav-item"> <a class="nav-link" style="color: #ffffff" href="#projects">Projects</a> </li>

        <li class="nav-item"> <a class="nav-link" style="color: #ffffff" href="#resume">Resume</a> </li>

        <li class="nav-item"> <a class="nav-link" style="color: #ffffff" href="#contact">Contact</a> </li>

        <li class="nav-item"> <a class="nav-link" style="color: #ffffff" href="blog">Blog</a> </li>

        <li class="nav-item"> <a class="nav-link" style="color: #ffffff" href="art">Art</a> </li>
    </ul>

</nav>


<style>
    nav {
        background-color: #b07bf0;
    }
</style>