---
import '../styles/global.css';

const pageName = ["Intro", "Projects", "Resume", "Contact", "blog"];

const bordercol = "#ffffff";
---


<div>

    <a href="/">Home</a>
    <a href="/">Projects</a>
    <a href="/">Blog</a>
    <a href="/">Resume</a>
    <a href="/">Contact</a>

</div>


<style>

    div {
        background-color: black;
        padding: 5% 15%;
        margin-top: 50px;

        border: 2px solid;
        border-color:#ffffff;
        border-radius: 6px;

    }

    a {
        padding: 1% 2%;
        margin: 0% 1%;

        text-decoration: none;
        font-size: 100%;
        /* background-color: rgb(1, 216, 198); */
        background-color: none;

        letter-spacing: 5px;

        color: rgb(53, 53, 233);
        text-shadow: 1.5px 2px rgb(255, 0, 0);

        border: 2px solid;
        border-color:#ffffff;
        border-radius: 6px;
    }

    a:hover {
        color: rgb(255, 0, 0);
        text-shadow: 1.5px 1px rgb(53, 53, 233);
        background-color: rgb(162, 189, 233);

    }

</style>

