---
const { pageTitle } = Astro.props;
const { subTitle } = Astro.props;

---

<div>
    <h1>{pageTitle}</h1>
    <h2>{subTitle}</h2>
</div>


<style>
    div{
        /* margin-top: 0%; */
        text-align: center;
        
    }

    h1{
        font-size: x-large;
    }

</style>