---

---

<div class="sidebar">

    <div>
        <p>Last updated: 5/5/5000</p>
        <p>....</p>

    </div>



    <div>
        <p>vist counter</p>
        <a href='https://www.free-website-hit-counter.com'>
            <img src='https://www.free-website-hit-counter.com/c.php?d=9&id=176460&s=288'
                alt='Free Website Hit Counter'></a><br /><small><a href='https://www.free-website-hit-counter.com'
                title="Free Website Hit Counter">Free website
                hit counter
            </a></small>

        <p>....</p>
    </div>

    <div>
        <p>buttons</p>

        <a class="center" href="https://templaterr.neocities.org/">
            <img src="public/templaterr2.png" alt="templaterr button">
        </a>

        <a class="center" href='https://blinkies.cafe' target='_blank'><img src='https://blinkies.cafe/b/display/blinkiesCafe-badge.gif' alt='blinkies.cafe | make your own blinkies!'></a>
        


        <p>....</p>
    </div>
</div>


<style>
    .sidebar {
        /* z-index: 99; */
        /* background-color: yellow; */
        position: absolute;
        padding: 0px;

        height: 75%;
        width: 200px;

        left: 75px;
        
    }

    img {
        width: 100%;
    }

    .center {

        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;

    }

    p {
        /* background-color: white; */
        display: block;
        padding: 5px;
        margin: 8px 5px 8px;
        text-align: center;
    }
</style>