body {
  background-color: #242323;
  color: rgb(255, 255, 255);
}



#logo{
  width: 40px;
}



.navbar > a {
  color: rgb(255, 255, 255);
  size: 10%;
  font-size: 1%;

  text-transform: uppercase;
  text-align: center;

}




#myname {
  text-transform: uppercase;
  /* text-decoration-line: underline; */
  font-weight: bold;
  text-align: center;  
  /* font-size: xx-large; */

}

div .card {
  background-color: #b07bf0;

}

.nav-link{
  text-transform: uppercase;
  text-align: center;
  text-decoration-thickness: 23px;
}

.nav-link:hover{
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline white;
}



.headings {
  /* text-transform: uppercase; */
  /* text-decoration-line: underline; */
  font-style: italic;
  /* font-weight: bold; */
  text-align: center;

}



.button-container {
  display: flex;
  justify-content: center;


}

.container {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */

  width: 65%;

  margin-bottom: 10%;

}


.card-container{
  align-items: flex-end ;
  flex-wrap: wrap;
  gap: 40px;
  
}


@media (max-width: 450px) {  
     
  .container {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
  
    width: 70%;
  
    margin-bottom: 10%;
  
  }
}


@media (min-width: 750px) { 
 
  .container {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
  
    width: 50%;
  
    margin-bottom: 10%;
  
  }
}
 
@media (max-width: 950px) { 
 

  .card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
  }
}


@media (min-width: 950px) { 
 
  .container {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
  
    width: 40%;
  
    margin-bottom: 10%;
  
  }

  .card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;

  }

  .card{
    width: 18rem;
  }
}


@media (min-width: 1200px) {  
     
  .container {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
  
    width: 40%;
  
    margin-bottom: 10%;
  
  }
}
