body {
  background-color: #242323;
  color: rgb(255, 255, 255);
}



#logo{
  width: 40px;
}


#myname {
  text-transform: uppercase;
  /* text-decoration-line: underline; */
  font-weight: bold;
  text-align: center;  
  /* font-size: xx-large; */

}

.nav-link{
  text-transform: uppercase;
  text-align: center;
}

.nav-link:hover{
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline white;
  color: #242323;
}


.headings {
  text-transform: uppercase;
  /* text-decoration-line: underline; */
  font-style: italic;
  /* font-weight: bold; */
  text-align: center;

}


.card {
  background-color: #b07bf0;

}



.button-container {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* width: 75%; */

  margin-bottom: 10%;

}


.card-container{
  flex-direction: column;
  justify-content: center;
  align-items: flex-end ;
  flex-wrap: wrap;
  gap: 40px;
  
}

form.form-example {
  display: flex;
}

/* div.form-example {
  display: flex;
} */

label, input, button{
  /* display: table-cell; */
  margin-bottom: 10px;
}

/* label {
  padding-right: 10px;
} */



@media (max-width: 660px) { 

  .card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    
  } 
}

 
@media (max-width: 955px) { 
 
  .card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
  }

}


@media (min-width: 950px) { 
 

  .card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;

  }

  .card{
    width: 18rem;
  }
}

