html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  margin: auto;
  font-family: Lucida Console, Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  color: #e2dede;
  background-color: #242323;
}

button {
  height: 3em;
  background-color: #a33535;
  color: black;
  border: 2px solid #4CAF50;
}

h2 {
  font-size: 3em;
}

h1 {
  font-size: 2.2em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul a {
  display: block;
  padding: 0.2em;
}

.nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #9f60d3;
}

.nav-container a {
  color: #e2dede;
  font-size: 1.2em;
}

/* ---------------------------------------------------------------------------- */
section {
  padding: 2em;
  text-align: center;
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1px;
}

.section1 h1 {
  font-size: 400%;
  text-align: center;
}

.section1 h3 {
  font-size: xx-large;
  text-align: center;
}

.section1 p {
  font-size: large;
  text-align: center;
  width: 75%;
}

.section2 {
  background-color: #1f1e1e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-conainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 75%;
}

.project-conainer .projcet {
  background-color: #aa7dce;
  border-radius: 1em;
  margin: 2%;
}

.project-conainer img {
  margin-top: 0.5em;
  border-radius: 1em;
  width: 75%;
}

.project-conainer a {
  border-radius: 1em;
  margin-top: 1em;
}

.project-conainer h1,
.project-conainer h5,
.project-conainer p {
  padding: 0em 1em 0em 1em;
}

.project-conainer button {
  margin-bottom: 1em;
  border-radius: 0.5em;
  background-color: #1f1e1e;
  border-color: transparent;
  color: white;
  font-size: 1em;
  width: 10em;
}

.section3 {
  background-color: #242323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
}

.button-container button {
  border-radius: 0.5em;
  background-color: transparent;
  border-color: #f5f5f5;
  color: white;
  font-size: 1em;
}

.button-container img {
  width: 3em;
}

.section4 {
  background-color: #1f1e1e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formbody input[type=text] {
  width: 19em;
  height: 2em;
  border: solid 0.2em #f5f5f5;
  font-size: 100%;
  color: #f5f5f5;
  border-radius: 10px;
  background-color: transparent;
}

.formbody textarea {
  width: 18.6em;
  height: 10em;
  border: solid 0.2em #f5f5f5;
  color: #f5f5f5;
  font-size: 125%;
  border-radius: 10px;
  background-color: transparent;
}

.formbody input[type=submit] {
  border-radius: 0.3em;
  background-color: transparent;
  border-color: #f5f5f5;
  color: white;
  font-size: 1.2em;
  width: auto;
  height: auto;
}

footer {
  background-color: #aa7dce;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .nav-container a {
    font-size: 1.1em;
  }
  .project-conainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projcet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 15em;
    height: 25em;
  }
  .projcet img {
    padding: 1%;
    width: 30%;
  }
  .projcet p {
    font-size: small;
  }
  .projcet button {
    width: 5em;
    height: 2em;
  }
  .formbody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .formbody input[type=text] {
    width: 15em;
    height: 2em;
    border: solid 0.2em #f5f5f5;
    font-size: 100%;
    color: #f5f5f5;
    border-radius: 10px;
    background-color: transparent;
  }
  .formbody textarea {
    width: 14.5em;
    height: 10em;
    border: solid 0.2em #f5f5f5;
    color: #f5f5f5;
    font-size: 125%;
    border-radius: 10px;
    background-color: transparent;
  }
  .formbody input[type=submit] {
    border-radius: 0.3em;
    background-color: transparent;
    border-color: #f5f5f5;
    color: white;
    font-size: 1.2em;
    width: auto;
    height: auto;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .project-conainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projcet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    height: 15%;
  }
  .projcet img {
    width: 50%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .project-conainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projcet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 35em;
  }
  .projcet img {
    width: 10em;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  h2 {
    font-size: 5em;
  }
  .project-conainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projcet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 25em;
  }
  .projcet img {
    width: 10em;
  }
  .formbody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .formbody input[type=text] {
    width: 25em;
    height: 2em;
    border: solid 0.2em #f5f5f5;
    font-size: 100%;
    color: #f5f5f5;
    border-radius: 10px;
    background-color: transparent;
  }
  .formbody textarea {
    width: 24.5em;
    height: 10em;
    border: solid 0.2em #f5f5f5;
    color: #f5f5f5;
    font-size: 125%;
    border-radius: 10px;
    background-color: transparent;
  }
  .formbody input[type=submit] {
    border-radius: 0.3em;
    background-color: transparent;
    border-color: #f5f5f5;
    color: white;
    font-size: 1.2em;
    width: auto;
    height: auto;
  }
}

@media screen and (min-width: 1280px) {
  .project-conainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projcet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 25em;
  }
  .projcet img {
    width: 10em;
  }
}
/*# sourceMappingURL=style.css.map */