html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    margin: auto;
    font-family: Lucida Console, Arial, Helvetica, sans-serif;

    scroll-behavior: smooth;
    color: #e2dede;
    background-color: #242323;
}

button {
    height: 3em;
    background-color: rgb(163, 53, 53);
    color: black;
    border: 2px solid #4CAF50;
}

h2 {
    font-size: 3em;
}

h1 {
    font-size: 2.2em;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}



header {
    // background-color: #9f60d3;

    display: flex;
    justify-content: space-between;
    padding: 1em;
 


    ul {
        display: flex;

        a {
            display: block;
            padding: 0.2em;
        }
    }


}

.nav-container {
    position: fixed; 
    top: 0; 
    width: 100%;
    background-color: #9f60d3;


    a {
        color: #e2dede;
        font-size: 1.2em;

    }

    // img {
    //     width: 100%;
    // }

    // position: fixed;

}



/* ---------------------------------------------------------------------------- */
section {
    padding: 2em;
    text-align: center;
}


.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    // column-gap: 1em;

   
    h1 {
        font-size: 400%;
        text-align: center;
    }

    h3 {
        font-size: xx-large;
        text-align: center;
    }

    p {
        font-size: large;
        text-align: center;
        width: 75%;
    }

}

.section2 {
    background-color: #1f1e1e;

    display: flex;
    flex-direction: column;
    align-items: center;



}

.project-conainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;


    width: 75%;
   

    .projcet {
        
        background-color: #aa7dce;
        border-radius: 0.3em;
        margin: 2%;

        height: 20%;
    }

    img {
        margin-top: 0.5em;
        border-radius: 0.3em;

        width: 50%;
    
    }

    a {
        border-radius: 1em;
        margin-top: 1em;
    }

    h1,
    h5,
    p {
        padding: 0em 1em 0em 1em;
    }

    button {
        margin-bottom: 1em;
        border-radius: 0.5em;
        background-color: #1f1e1e;
        border-color: transparent;
        color: white;
        font-size: 1em;
        width: 10em;
    }
}


.section3 {
    background-color: #242323;

    display: flex;
    flex-direction: column;
    justify-content: center;


}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 2em;

    button {
        border-radius: 0.5em;
        background-color: transparent;
        border-color: #f5f5f5;
        color: white;
        font-size: 1em;
    }

    img {
        width: 3em;
    }

}

.section4 {
    background-color: #1f1e1e;
    display: flex;
    flex-direction: column;
    justify-content: center;


}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}



.formbody {
    display: flex;
    flex-direction: column;
    justify-content: center;

    input[type=text] {
        width: 19em;
        height: 2em;
        border: solid 0.2em #f5f5f5;

        font-size: 100%;

        color: #f5f5f5;

        border-radius: 10px;
        background-color: transparent;

        

    }


    textarea {
        width: 18.6em;
        // width: 60%;
        height: 10em;
        border: solid 0.2em#f5f5f5;
        color: #f5f5f5;

        font-size: 125%;

        border-radius: 10px;
        background-color: transparent;
    }


    input[type=submit] {
        border-radius: 0.3em;
        background-color: transparent;
        border-color: #f5f5f5;
        color: white;
        font-size: 1.2em;

        width: auto;
        height: auto;
    }
}


footer {
    background-color: #aa7dce;
}

@media  screen and (min-width: 320px) and (max-width: 480px) {
    #profileImg{

        width: 30%;
    }

    .nav-container{
        a{
            font-size: 1.1em;
        }
    }

    .project-conainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .projcet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 15em;
        height: 25em;

        img {
            padding: 1%;
            width: 60%;
        }

        p {
            font-size: small;
        }

        button {
            width: 6.5em;
            height: 2em;
        }
    }



    .formbody {
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        input[type=text] {
            width: 15em;
            height: 2em;
            border: solid 0.2em #f5f5f5;
    
            font-size: 100%;
    
            color: #f5f5f5;
    
            border-radius: 10px;
            background-color: transparent;
    
            
    
        }
    
    
        textarea {
            width: 14.5em;
            // width: 60%;
            height: 10em;
            border: solid 0.2em#f5f5f5;
            color: #f5f5f5;
    
            font-size: 125%;
    
            border-radius: 10px;
            background-color: transparent;
        }
    
    
        input[type=submit] {
            border-radius: 0.3em;
            background-color: transparent;
            border-color: #f5f5f5;
            color: white;
            font-size: 1em;
    
            width: auto;
            height: auto;
        }
    }
    
}


@media  screen and (min-width: 481px) and (max-width: 768px) {
    #profileImg{

        width: 25%;
    }

    .project-conainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .projcet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        width: 100%;
        height: 15%;

        img{
            width: 60%;
        }
    
    }


    
}

@media  screen and (min-width: 769px) and (max-width: 1024px) {
    #profileImg{

        width: 25%;
    }
    .project-conainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .projcet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        width: 35em;

        img{
            width: 80%;
        }
    
    }
}

@media  screen and (min-width: 1024px) and (max-width: 1280px) {
    #profileImg{

        width: 15%;
    }

    h2{
        font-size: 5em;
    }
    .project-conainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        
    }

    .projcet {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        width: 25em;

        img{
            width: 70%;
        }
    
    }



    .formbody {
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        input[type=text] {
            width: 25em;
            height: 2em;
            border: solid 0.2em #f5f5f5;
    
            font-size: 100%;
    
            color: #f5f5f5;
    
            border-radius: 10px;
            background-color: transparent;
    
            
    
        }
    
    
        textarea {
            width: 24.5em;
            // width: 60%;
            height: 10em;
            border: solid 0.2em#f5f5f5;
            color: #f5f5f5;
    
            font-size: 125%;
    
            border-radius: 10px;
            background-color: transparent;
        }
    
    
        input[type=submit] {
            border-radius: 0.3em;
            background-color: transparent;
            border-color: #f5f5f5;
            color: white;
            font-size: 1.2em;
    
            width: auto;
            height: auto;
        }
    }
    
}

@media  screen and (min-width: 1280px) {
    #profileImg{
        width: 15%;
    }

    .project-conainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        
    }

    .projcet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        width: 25em;

        img{
            width: 60%;
        }
    
    }
}

